{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">

       <div class="row">

        <div class="flow-text"> <h5 class="center-align z-depth-4">Interface de connexion</h5> </div>
      </div>


      <div class="row">
       <div class="col s12 m5">
      <div class="card-panel teal">
        <span class="white-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
      </div>
    </div>
        {# <div class="col s4">1</div>
        <div class="col s4">2</div>
        <div class="col s4">3</div> #}
      
      </div>
    </div>

{% endblock %}