<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF8-8">
        <!-- Compiled and minified CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Compiled and minified CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" integrity="sha256-KLTFyUm/U7eSNct2I+KNcZ5+O4WHsa83bK34m3uGWsU=" crossorigin="anonymous" />

         
         {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <div class="">
        <!-- Page Content goes here -->
     
        
      <nav>
        <div class="nav-wrapper teal">
          <a href="#" class="center-align">Créez et Gérez vos taches</a>
          {# <h5 class="center-align">Créez et Gérez vos taches</h5> #}
          
        </div>
      </nav>
      
      
      
        

        {% block body %}{% endblock %}






      <footer class="page-footer teal">
              <div class="container">
                <div class="row">
                  {# <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                  </div> #}
                  <div class="col l4 offset-l2 s12">
                    {# <h5 class="white-text">Links</h5> #}
                    {# <ul>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul> #}
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2019 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
              </div>
            </footer>

       </div>
        <!-- Compiled and minified JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
        
    </body>
</html>
